.App {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
	text-align: center;
	column-gap: 1%;
}

button,
.btn,
input[type='button'],
input[type='submit'] {
	cursor: pointer;
}
.task-column {
	flex-grow: 1;
	margin-top: 20px;
	min-width: 200px;
}
.column-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	background-color: #f1f1f1;
	border-radius: 15px;
	box-shadow: 2px 2px 4px #d9d9d9;
}
.column-heading {
	margin: 0 0 0 10px;
}
.col-body {
	display: flex;
	flex-direction: column;
	background-color: #f1f1f1;
	padding: 5px;
	border-radius: 7px;
	height: 70vh;
	overflow: auto;
	margin-top: 2rem;
}
.add-new-btn {
	width: 33px;
	height: 33px;
	align-self: flex-end;
	border-radius: 50%;
	font-size: 30px;
	background-color: white;
	border: none;
	color: grey;
	margin-right: 12px;
	margin-top: 9px;
	box-shadow: 2px 2px 4px grey;
	transition: 0.3s transform ease-in-out;
}
.add-new-btn:hover {
	color: #625df5;
	box-shadow: 2px 2px 6px #625df5bd;
	transform: scale(1.2);
}

.card {
	background-color: white;
	border-radius: 12px;
	border-left: 3px solid purple;
	margin: 10px;
	padding: 8px 5px 8px 10px;
	box-shadow: 1px 1px 2px grey;
}
.task-number {
	margin: 0;
	margin-top: 10px;
	text-align: left;
}
.task-desc {
	text-align: left;
	word-break: break-all;
	color: #6b6b6b;
	margin: 15px 0px;
}
.tags-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	row-gap: 10px;
	align-items: center;
}
.type-tag {
	color: #575656;
	background-color: #e5e5e5;
	padding: 2px 7px;
	border-radius: 7px;
	margin: 0px 2px;
}
.popUp {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}
.popUp-body {
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	border-radius: 5px;
	width: 50%;
}
.close-icon {
	font-size: 20px;
}
.flex-end {
	align-self: flex-end;
}
#popUp-form {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}
.input-block {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}
.input-block > label {
	margin-right: 10px;
	/* text-align: right; */
}

.input-block > input[type='text'],
.input-block > input[type='date'],
.input-block > input[type='number'] {
	width: 50%;
	font-size: 15px;
}
.add-tag-block {
	width: 50%;
	font-size: 15px;
}
#task-types {
	width: 100%;
	font-size: 15px;
}
#popUp-form .type-tag {
	display: flex;
	justify-content: center;
	align-items: center;
}
.type-tag > p {
	margin: 0 5px;
}
.popUp-tags-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	row-gap: 10px;
	align-items: center;
}
.add-tag-icon {
	margin-left: 5px;
	font-size: 25px;
}
.add-task-btn {
	width: 50%;
	height: 40px;
	border-radius: 10px;
	margin-top: 20px;
	background-color: #342df2;
	color: white;
	align-self: center;
}
.add-task-btn:hover {
	background-color: #1913c4;
}
.remove-tag {
	border-radius: 15px;
	color: #575656;
	background-color: transparent;
	border: none;
	width: 18px;
	height: 18px;
	padding: 0;
}
.remove-tag:hover {
	background-color: grey;
	color: white;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
@media screen and (max-width: 700px) {
	.popUp-body {
		width: 90%;
	}
	.input-block {
		/* flex-wrap: wrap; */
		flex-direction: column;
		align-items: center;
	}
	.add-tag-block {
		width: 100%;
	}
	.input-block > input {
		width: 100%;
	}
}
