.App {
	display: grid;
	grid-template-columns: 24% 24% 24% 24%;
	margin: 2rem;
	text-align: center;
	column-gap: 1%;
}
.column-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	background-color: #e5e5e5;
	border-radius: 20px;
}
.column-heading {
	margin: 0 0 0 10px;
}
.add-new-btn {
	width: 90%;
	background-color: white;
	border: none;
	color: grey;
}
.add-new-btn:hover{
    text-decoration: underline;
    cursor: pointer;
    color: black;
}
