.App {
	display: grid;
	grid-template-columns: 24% 24% 24% 24%;
	padding: 1rem;
	text-align: center;
	column-gap: 1%;
}

button,
.btn,
input[type='button'],
input[type='submit'] {
	cursor: pointer;
}
.column-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	background-color: #e5e5e5;
	border-radius: 20px;
	box-shadow: 1px 2px 5px 0px grey;
}
.column-heading {
	margin: 0 0 0 10px;
}
.add-new-btn {
	width: 90%;
	background-color: white;
	border: none;
	color: grey;
	margin-top: 15px;
}
.add-new-btn:hover {
	text-decoration: underline;
	color: black;
}
.col-body {
	background-color: #e5e5e5;
	padding: 5px;
	border-radius: 7px;
	height: 70vh;
	overflow: auto;
	margin-top: 2rem;
}
.card {
	background-color: white;
	border-radius: 12px;
	border-left: 3px solid purple;
	margin: 10px;
	padding: 8px 5px 8px 10px;
	box-shadow: 1px 1px 2px grey;
}
.task-number {
	margin: 0;
	margin-top: 10px;
	text-align: left;
}
.task-desc {
	text-align: left;
	word-break: break-all;
	color: #6b6b6b;
	margin: 6px 0px;
}
.tags-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	row-gap: 10px;
	align-items: center;
}
.type-tag {
	color: #575656;
	background-color: #e5e5e5;
	padding: 2px 7px;
	border-radius: 7px;
	margin: 0px 2px;
}
.popUp {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}
.popUp-body {
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	border-radius: 5px;
	width: 50%;
}
.close-icon{
	font-size: 20px;
}
.flex-end {
	align-self: flex-end;
}
#popUp-form {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}
.input-block {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}
.input-block > label {
	margin-right: 10px;
	/* text-align: right; */
}

.input-block > input[type='text'],
.input-block > input[type='date'],
.input-block > input[type='number'] {
	width: 50%;
	font-size: 15px;
}
.add-tag-block {
	width: 50%;
	font-size: 15px;
}
.add-tag-block input[list='tags'] {
	width: 100%;
	font-size: 15px;
}
#popUp-form .type-tag {
	display: flex;
	justify-content: center;
	align-items: center;
}
#popUp-form .type-tag:hover .remove-tag {
	visibility: visible;
}
.type-tag > p {
	margin: 0 5px;
}
.popUp-tags-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	row-gap: 10px;
	align-items: center;
}
.add-tag-icon {
	margin-left: 5px;
	font-size: 25px;
}
.add-task-btn {
	width: 50%;
	height: 40px;
	border-radius: 10px;
	margin-top: 20px;
	background-color: #342df2;
	color: white;
	align-self: center;
}
.remove-tag {
	visibility: hidden;
	border-radius: 10px;
	background-color: transparent;
	border: none;
}
.remove-tag:hover {
	background-color: grey;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
